.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    max-width: 950px;
    margin: auto;
}

.wr1 {
    background-color: rgba(128,160,138,0.97);
}
.wr2 {
    background-color: rgba(198,196,187,0.97);
}
.wr3 {
    background-color: rgba(150,160,99,0.97);
}
